body{
    --color-primary: #01b493;
    --color-primary-dark: #025e4d;
    --color-secondary: #1d2464;
    --color-error: #ac0b0b;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-image: url(./back.jpg);
    background-size: cover;
}

.container{
    width: 350px;
    max-width: 350px;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button{
    font: 500 1rem 'Roboto', sans-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: 0.2s, border-color 0.2s; 
}

.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

/* Various button stylings */
.buttons{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    margin: 5px;
}

.buttons:active{
    transform: scale(0.98);
}

.buttons:hover{
    background: var(--color-primary-dark);
}

.logoutbutton{
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.logoutbutton:active{
    transform: scale(0.98);
}

.button2 {
    background-color: #ffffff;
    border: none;
    padding: 10px 10px;
    text-align: center;
    color: #01b493;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: var(--border-radius);
    font-weight: bolder;
    cursor: pointer;
}

.button3 {
    background-color: #ffffff;
    border: none;
    padding: 7.5px 7.5px;
    text-align: center;
    color: #01b493;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: var(--border-radius);
    font-weight: bolder;
    cursor: pointer;
}

.optionsButton{
    width: 100%;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    margin: 5px;
}

.contactList{
    margin-top: 200px;
    max-height: 600px;
    overflow-y: auto;
}

.contactList,
thead,
th{
    position: sticky;
    top: 0;
}

.editButton{
    width: 30%;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    margin: 5px;
}

.editButton:active{
    transform: scale(0.98);
}

.deleteButton{
    width: 30%;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    margin: 5px;
}

.deleteButton:active{
    transform: scale(0.98);
}

.cancelButtons{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: #e26969;
    margin: 5px;
}

.cancelButtons:active{
    transform: scale(0.98);
}

.cancelButtons:hover{
    background: #df3939;
}

.openAddButton{
    width: 35%;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.searchButton{
    width: 35%;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.addButton{
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    margin: 5px;
}

.form__button:active{
    transform: scale(0.98);
}

.form__button:hover{
    background: var(--color-primary-dark);
}

/* Various messages to go with user inputs */
.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color: var(--color-error);
}

.form__text{
    text-align: center;
}


